<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrblanco.calculadoradejoyeros2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconologo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconologo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculadoraDeJoyeros2021">
        <activity
            android:name=".FundicionActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SoldadurasActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CalcularPlataActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CalcularOroActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AcercadeActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>